smart_home_control/node_red/node_red_flow.json
[
    {
        "id": "fb2aa5142566b7e5",
        "type": "tab",
        "label": "SmartHomeController",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e23c65fc1273f5dc",
        "type": "group",
        "z": "fb2aa5142566b7e5",
        "name": "TemperatureHTTP",
        "style": {
            "label": true
        },
        "nodes": [
            "4e62f61be0b9b22a",
            "21ed6b4dd4e5b24b",
            "e80d214a7c47a90a",
            "af057390ca2c1096",
            "ed48622a88620d20",
            "92ea6f2b822e9031",
            "e7f8aed9f8fa5d21"
        ],
        "x": 74,
        "y": 59,
        "w": 1012,
        "h": 242
    },
    {
        "id": "13659f966e9bd543",
        "type": "group",
        "z": "fb2aa5142566b7e5",
        "name": "FloorPlaneVisualization",
        "style": {
            "label": true
        },
        "nodes": [
            "85d46a56fbed3bb2",
            "848af8f63f677404"
        ],
        "x": 74,
        "y": 751.5,
        "w": 492,
        "h": 97
    },
    {
        "id": "25ea6a04dd670f89",
        "type": "group",
        "z": "fb2aa5142566b7e5",
        "name": "OutputTriggers",
        "style": {
            "label": true
        },
        "nodes": [
            "f0f1f11051027593",
            "13f8607be99fc3ff",
            "215bec0ebd462e20",
            "9612a088d9bb00c5",
            "c9a1ccbf6e62b66f",
            "c8ee39d5162444f7",
            "ad41a3ce0e1d07b6"
        ],
        "x": 68,
        "y": 345.5,
        "w": 958,
        "h": 303
    },
    {
        "id": "215bec0ebd462e20",
        "type": "group",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "name": "GarageDoor",
        "style": {
            "label": true
        },
        "nodes": [
            "b66ca05201b52c48",
            "2950eab604cb4601"
        ],
        "x": 94,
        "y": 371.5,
        "w": 492,
        "h": 97
    },
    {
        "id": "9612a088d9bb00c5",
        "type": "group",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "name": "Gate",
        "style": {
            "label": true
        },
        "nodes": [
            "67283ecf20ef36ce",
            "eef1e8c8cf1d0ae0"
        ],
        "x": 94,
        "y": 471.5,
        "w": 492,
        "h": 97
    },
    {
        "id": "b66ca05201b52c48",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "215bec0ebd462e20",
        "command": "control_devices t20220001",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Send t20220001",
        "x": 480,
        "y": 420,
        "wires": [
            [],
            [],
            [
                "13f8607be99fc3ff"
            ]
        ]
    },
    {
        "id": "2950eab604cb4601",
        "type": "ui_button",
        "z": "fb2aa5142566b7e5",
        "g": "215bec0ebd462e20",
        "name": "Trigger Garage Door",
        "group": "2419f45a83b91fd5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Garage Door",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "b66ca05201b52c48"
            ]
        ]
    },
    {
        "id": "67283ecf20ef36ce",
        "type": "ui_button",
        "z": "fb2aa5142566b7e5",
        "g": "9612a088d9bb00c5",
        "name": "Trigger Gate",
        "group": "2419f45a83b91fd5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Gate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "eef1e8c8cf1d0ae0"
            ]
        ]
    },
    {
        "id": "f0f1f11051027593",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "command": "control_devices t20220000",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "DisableCanOutputs",
        "x": 910,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "13f8607be99fc3ff",
        "type": "delay",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "name": "CanBusDelay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 480,
        "wires": [
            [
                "f0f1f11051027593"
            ]
        ]
    },
    {
        "id": "eef1e8c8cf1d0ae0",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "9612a088d9bb00c5",
        "command": "control_devices t20220002",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Send t20220002",
        "x": 480,
        "y": 520,
        "wires": [
            [],
            [],
            [
                "13f8607be99fc3ff"
            ]
        ]
    },
    {
        "id": "848af8f63f677404",
        "type": "ui_button",
        "z": "fb2aa5142566b7e5",
        "g": "13659f966e9bd543",
        "name": "ViewHome!",
        "group": "37b3acf10c5f6642",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home Visualizer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "85d46a56fbed3bb2"
            ]
        ]
    },
    {
        "id": "85d46a56fbed3bb2",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "13659f966e9bd543",
        "command": "visualize_floorplan",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4e62f61be0b9b22a",
        "type": "ui_gauge",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "TemperatureGauge",
        "group": "2cbcb0af19b3f789",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "21ed6b4dd4e5b24b",
        "type": "http in",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "GetTemperatureData",
        "url": "/temperature_in",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "e80d214a7c47a90a",
                "af057390ca2c1096"
            ]
        ]
    },
    {
        "id": "e80d214a7c47a90a",
        "type": "http response",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "Temperature Response",
        "statusCode": "",
        "headers": {},
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "af057390ca2c1096",
        "type": "function",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "ProcessIncomingTemperatureData",
        "func": "// Extract the 'payload' parameter from the query\nmsg.payload = parseInt(msg.req.query.payload, 10); // Convert to integer\n\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "4e62f61be0b9b22a"
            ]
        ]
    },
    {
        "id": "ed48622a88620d20",
        "type": "ui_button",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "Read Current Temperature",
        "group": "2cbcb0af19b3f789",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Read Current Temperature",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "92ea6f2b822e9031"
            ]
        ]
    },
    {
        "id": "92ea6f2b822e9031",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "command": "set_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c9a1ccbf6e62b66f",
        "type": "ui_text_input",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "name": "CanCommandTextBox",
        "label": "Custom CAN Command Input",
        "tooltip": "",
        "group": "2419f45a83b91fd5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "ad41a3ce0e1d07b6"
            ]
        ]
    },
    {
        "id": "c8ee39d5162444f7",
        "type": "exec",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Send Custom Command",
        "x": 850,
        "y": 600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ad41a3ce0e1d07b6",
        "type": "function",
        "z": "fb2aa5142566b7e5",
        "g": "25ea6a04dd670f89",
        "name": "AddConsoleCommand",
        "func": "msg.payload = \"control_devices \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "c8ee39d5162444f7"
            ]
        ]
    },
    {
        "id": "e7f8aed9f8fa5d21",
        "type": "inject",
        "z": "fb2aa5142566b7e5",
        "g": "e23c65fc1273f5dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "92ea6f2b822e9031"
            ]
        ]
    },
    {
        "id": "2419f45a83b91fd5",
        "type": "ui_group",
        "name": "TriggerButtons",
        "tab": "0f07eb20e195773e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37b3acf10c5f6642",
        "type": "ui_group",
        "name": "Home Visualization Controls",
        "tab": "0f07eb20e195773e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cbcb0af19b3f789",
        "type": "ui_group",
        "name": "TemperatureTab",
        "tab": "0f07eb20e195773e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f07eb20e195773e",
        "type": "ui_tab",
        "name": "POC: Smart Home Controls",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]